PORT=3001
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/glucooptimizer
JWT_SECRET=change_this_to_a_long_random_string_in_production
JWT_EXPIRES_IN=7d
ML_SERVICE_URL=http://localhost:8000
NODE_ENV=development
